# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.build/
.dist/
.pr_stats.egg-info/
.idea/
.csv
.ipynb/
.dist/
.build/lib/PR stats/



# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
*.pyo
*.zip
*.tar.gz
*.sqlite3
*.csv
*.sav
*.exe
*.json
*.DS_Store
*.pdf
*.xlsx
*ipynb


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.